.svg-map {
  width: 100%;
  height: auto;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.svg-map__location {
  fill: #9ba9d9;
  cursor: pointer;
}
.svg-map__location:focus,
.svg-map__location:hover {
  fill: #b8e2b3;
  outline: 0;
}
.svg-map__location[aria-checked='true'] {
  fill: #f4bc44;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  display: block;
  position: fixed;
  color: #000;
  visibility: visible;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 5px 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}